<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>My Portfolio</title>
  <meta name="description" content="An awesome site that showcases my work!">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <img src="http://via.placeholder.com/468x201/FFFF00/000000?text=Hannu's Portfolio" alt="Placeholder image">
  <img src="./img/HannuH.jpg"  width="144" height="201">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
            <a href="/todo">Example project</a>
          </li>
          <li>
            <a href="/tutorial2">AI tutorial</a>
          </li>
          <li>
            <a href="/student">AI tutorial2</a>
          </li>
          <h1>... </h1>
          <li>
            <a href="#projects">Projects</a>
          </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>
    </nav>
</body>
<main>
    <section>
        <h1>Hi, I'm Hannu.</h1>
        <p>An Experienced IT Professional.</p>        
      </section>
      <section id="projects">
        <h2>Projects</h2>
        <ul>
          <li>
            <article>
              <header>
                <h3>Cinia Oy, Test Engineer, Tampere</h3>
              </header>
              <p>
                Test automation with Robot Framework in healthcare area.
            </p>
              <p>
                Create a pipeline script to run smoke and regression tests in Jenkins.
              </p>
              <p>
                  IoT testing.
              </p>
              <p>
                  Rest API testing.
              </p>
              <footer>
                <p>
                  <a href="/tuxedo-cats-always-looking-dapper">See More</a>
                </p>
              </footer>
            </article>
          </li>
          <li>
            <article>
              <header>
                <h3>Accenture Oy, Test Engineering Senior Analyst</h3>
              </header>
              <p>Test automation for Cloud application with Katalon testing poop.</p>
              <p>Sales assistance for Next Generation Testing tool. Organizing Proof on Concept (PoC) to demonstrate feasible solution with Tosca. Calculating Return on Investment (ROI)</p>
              <p>Set Top testing but also simulate metadata and content ingest.</p>
              <p>Functional testing of Windows Phone imaging features and strong contribution in troubleshooting. Also assisting in test automation.</p>
              <p>QtMobility testing in camera area. Also creating real time application for pattern recognition.</p>
              <footer>
                <p>
                  <a href="has-closed-eyes-but-still-sees-you">See More</a>
                </p>
              </footer>
            </article>
          </li>
          <li>
            <article>
              <header>
                <h3>Nokia Oy, Software Test Engineer, Tampere</h3>
              </header>
              <p>
                Middleware testing in mobile cameras.
              </p>
              <footer>
                <p>
                  <a href="chew-foot-shake-treat-bag">See More</a>
                </p>
              </footer>
            </article>
          </li>
        </ul>
      </section>
    


</main>

</html>