<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hannu's Portfolio</title>
  <meta name="description" content="An awesome site that showcases my work!">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <img src="http://via.placeholder.com/468x201/FFFF00/000000?text=Hannu's Portfolio" alt="Placeholder image">
        <img src="https://scontent-hel3-1.cdninstagram.com/v/t51.2885-19/s150x150/123954562_847364059339292_7753346447502628628_n.jpg?_nc_ht=scontent-hel3-1.cdninstagram.com&_nc_ohc=HwcQFIHA5EIAX_0BCDW&oh=6be385bae945adb92bc0e091203e806a&oe=5FCF6055"  width="144" height="201">
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
                <a href="/todo">Example project</a>
              </li>
              <li>
                <a href="/blogindex">Example project2</a>
              </li>

              <h1></h1>
              <li>
                <a href="#projects">Projects</a>
              </li>
            <li>
              <a href="/about">About</a>
            </li>
            <h1></h1>
          </ul>
        </nav>
    </header>
    <main>


    </main>
    <footer></footer>
</body>
<section>
    <h1>Hi, I'm Hannu.</h1>
    <h1>An Experienced IT Professional.</h1>        
  </section>
  <h1></h1>
  <section id="projects">
    <h2>Projects</h2>
    <ul>
      <li>
        <article>
          <header>
            <h3>Cinia Oy, Test Engineer, Tampere</h3>
          </header>
          <p>
            Test automation with Robot Framework in healthcare area.
        </p>
          <p>
            Create a pipeline script to run smoke and regression tests in Jenkins.
          </p>
          <p>
              IoT testing.
          </p>
          <p>
              Rest API testing.
          </p>
          <footer>
            <p>
              <a href="http://www.cinia.fi" target="_blank"><img src="https://www.cinia.fi/media/layout/img/cinia-logo-red-white.png"  width="134" height="101"></a>
              <a href="http://www.cinia.fi">See More</a>
            </p>
          </footer>
        </article>
      </li>
      <li>
        <article>
          <header>
            <h3>Accenture Oy, Test Engineering Senior Analyst</h3>
          </header>
          <p>Test automation for Cloud application with Katalon testing poop.</p>
          <p>Sales assistance for Next Generation Testing tool. Organizing Proof on Concept (PoC) to demonstrate feasible solution with Tosca. Calculating Return on Investment (ROI)</p>
          <p>Set Top testing but also simulate metadata and content ingest.</p>
          <p>Functional testing of Windows Phone imaging features and strong contribution in troubleshooting. Also assisting in test automation.</p>
          <p>QtMobility testing in camera area. Also creating real time application for pattern recognition.</p>
          <footer>
            <p>
              <a href="http://www.accenture.com" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Accenture.svg/1200px-Accenture.svg.png"  width="134" height="101"></a>
              <a href="http://www.accenture.com">See More</a>
            </p>
          </footer>
        </article>
      </li>
      <li>
        <article>
          <header>
            <h3>Nokia Oy, Software Test Engineer, Tampere</h3>
          </header>
          <p>
            Middleware testing in mobile cameras.
          </p>
          <footer>
            <p>
              <a href="http://www.nokia.fi" target="_blank"><img src="https://i.pinimg.com/originals/f1/89/34/f18934c1698feeb076982dee6ed27117.jpg"  width="134" height="101"></a>
              <a href="http://www.nokia.fi">See More</a>
            </p>
          </footer>
        </article>
      </li>
    </ul>
  </section>


        <a href="http://www.capoeiratampere.fi/" target="_blank"><img src="http://www.capoeiratampere.fi/wp-content/uploads/2019/09/TapahtumienY%C3%B6musiikkiesitys-300x266.png"  width="268" height="201">
    <a class="container">
        <a href="http://www.capoeiratampere.fi/" target="_blank"><img src="http://www.capoeiratampere.fi/wp-content/uploads/2018/06/20180607_190323-300x169.jpg"  width="268" height="201"></a>
        <a href="http://www.capoeiratampere.fi/" target="_blank"><img src="http://www.capoeiratampere.fi/wp-content/uploads/2018/01/Hannulle-2-300x187.jpg"  width="268" height="201"></a>
    </a>
</html>